---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </nav>
		<h1>About the project</h1>
    <p>This is tutorial blog project build with Astro and deployed on Netlify</p>
    <a href="https://frolicking-entremet-bf864d.netlify.app/">Check it here.</a>
	</body>
</html>
