---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostLinks from '../components/PostLinks.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout title="Blog">
	<h2>Blog main page</h2>
	<p>This is main blog page.</p>
	<PostLinks posts={allPosts} />
</BaseLayout>
