---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostLinks from '../components/PostLinks.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
---

<BaseLayout title="Blog">
	<h2>Blog main page</h2>
	<p>This is main blog page.</p>
	<PostLinks posts={allPosts} />
</BaseLayout>
