---
import type { DataEntryMap } from 'astro:content';
type ValueOf<T> = T[keyof T];
const posts = Astro.props.posts as ValueOf<DataEntryMap['blog']>[];
---

<ul>
  {posts.map(post => (
    <li>
      <a href={`/posts/${post.id}`}>{post.data.title}</a>
    </li>
  ))}
</ul>