---
import type { Post } from '../types';

const posts = Astro.props.posts as Post[];
---

<ul>
  {posts.map(post => (
    <li>
      <a href={post.url}>{post.frontmatter.title}</a>
    </li>
  ))}
</ul>